$white: #fff;
$white_F6: #F6F6F6;
$white_F9: #F9F9F9;
$white_F5: #F5F5F5;
$white_F2: #F2F2F2;
$black_BD: #BDBDBD;
$black_9E: #9E9E9E;
$black_55: #555555;
$black_75: #757575;
$black_33: #333333;
$black: #000; 
$black_F9:#F9F9F9; 
$black_70: #707070;
$black_8C: #8C8C8C;
$black_1A: #1A1A1A;
$black_51: #515151;
$black_CE: #CECECE; 
$green_20: #2094AC;
$green_00: #005B71;
$green_E3: #E3F2EE; 
$green_00: #005B71; 
$green_72: #72D99A;
$green_5A: #5AB47D;
$green_51: #51CC81;
$red: #FC544B;
$blue_00: #0073AA;
$red: #FC544B;
$blue_7A: #7A88F1;
$green_72: #72D99A;
$green_5A: #5AB47D;
$yellow_F5: #F5C046;
$blue_4B: #4B8CC4;
$gray_BC: #BCBCBC;
$blue_00: #0073AA;
$blue_7A: #7A88F1;
$blue_4B: #4B8CC4;
$blue_3E: #3E5B9F;
$blue_1D: #1DA1F2;
$blue_D6: #D6ECF2;
$yellow_F5: #F5C046;
$gray_BC: #BCBCBC;
// Border color
$border_color_EB: #EBEBEB;
//folder path variable
$image-folder: '../img';