@import "./variables.scss";
@import "./mixins.scss";

.inner-content {
    margin-left: 20px;
    width: 100%;
    .box-content {
        background-color: $white;
        @include box_shadow_small;
        &.mt-20 {
            margin-top: 20px;
        }
        .page-title {
            height: 50px;
            border-bottom: 1px solid $border_color_EB;
            padding-left: 20px;
            h1 {
                @include font_style(18px, $black_55, 400, 24px);
            }
        }
        .form-content {
            padding: 20px 20px 0 20px;
            hr {
                margin: 20px -20px 20px;
            }
            .form-group {
                margin-bottom: 14px;
                label {
                    @include font_style(14px, $black_75, 500, 20px);
                    padding-top: 0;
                    padding-bottom: 0;
                    display: flex;
                    align-items: center;
                }
                .account-type {
                    width: 509px;
                    @include single-select-arrow();
                }
                .label-section {
                    width: 175px;
                }
                .field-section {
                    width: calc(100% - 175px);
                    input, textarea {
                        width: 509px;
                    }
                    p{
                        @include font_style(14px, $black_75, 500, 20px);
                        padding-top: 0;
                        padding-bottom: 0;
                        display: flex;
                        align-items: center;
                    }
                    .status{
                        background: $blue_7A;
                        height: 19px;
                        width: 62px;
                        border-radius: 3px;
                        margin-left: 14px;
                        @include font_style(10px, $white);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .description{
                        height: 134px;
                    }
                }
            }
            .form-submission {
                margin: 0 -20px;
            }
        }
    }
}

/*==================================================
        Media query for all iPad and tabs
        Screen 768px to 1279px
==================================================*/
@media only screen and (max-width: 1279px) {
    .inner-content {
        .box-content {
            .page-title {
                height: 40px;
                padding-left: 12px;
                h1 {
                    @include font_style(14px);
                }
            }
            .form-block {
                .form-content {
                    padding: 12px;
                    hr {
                        margin: 12px -12px 12px !important;
                    }
                    .form-group {
                        label {
                            @include font_style(12px);
                        }
                        .mobile-res {
                            flex-direction: row !important;
                        }
                        .field-section {
                            input, textarea, select {
                                width: 309px;
                            }
                        }
                    }
                }
            }
            .form-submission {
                margin: 0 -12px;
            }
        }
    }
}

/*==================================================
        Media query for all iPad and tabs
        Screen 641px to 767px
==================================================*/
@media only screen and (max-width: 767px) {
    .inner-content {
        .box-content {
            &.mt-20 {
                margin-top: 10px;
            }
            .page-title {
                height: 34px;
                padding: 12px;
                h1 {
                    @include font_style(13px);
                }
            }
            .form-content {
                padding: 12px 12px 0 12px;
                hr {
                    margin: 12px -12px 12px;
                }
                .form-group {
                    .account-type {
                        width: 100%;
                    }
                    .label-section {
                        width: 175px;
                    }
                    .field-section {
                        width: 100%;
                        input, textarea {
                            width: 100%;
                        }
                        .description{
                            height: 134px;
                        }
                    }
                }
            }
            .form-submission {
                margin: 0 -12px !important;
            }
        }
    }
}
/*==================================================
        Device = Smart Phone (portrait)
        Screen = B/w screen to 640px
==================================================*/
@media screen and (max-width: 640px) {
    .inner-content {
        margin-left: 20px;
        width: 100%;
        .box-content {
            &.mt-20 {
                margin-top: 6px;
            }
            .page-title {
                height: 34px;
                padding: 10px;
                h1 {
                    @include font_style(13px);
                }
            }
            .form-content {
                padding: 10px 10px 0 10px;
                hr {
                    margin: 10px -10px 10px;
                }
                .form-group {
                    flex-direction: column;
                    label {
                        padding-bottom: 4px;
                        @include font_style(12px);
                    }
                    .account-type {
                        width: 100%;
                    }
                    .label-section {
                        width: 175px;
                    }
                    .field-section {
                        width: 100%;
                        input, textarea {
                            width: 100%;
                        }
                        p{
                            @include font_style(12px, $black_75, 400, 15px);
                            padding-top: 0;
                            padding-bottom: 0;
                            display: flex;
                            align-items: center;
                        }
                        .status{
                            background: $blue_7A;
                            height: 19px;
                            width: 62px;
                            border-radius: 3px;
                            margin-left: 14px;
                            @include font_style(10px, $white);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .description{
                            height: 100px;
                        }
                    }
                }
            }
            .form-submission {
                margin: 0 -10px !important;
            }
        }
    }
}