/* Noto Sans Thin */
// 'Noto Sans JP', sans-serif;
@font-face {
  font-family: "Noto Sans JP";
  src: url("../../../fonts/NotoSansJP-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

/* Noto Sans Light */
@font-face {
  font-family: "Noto Sans JP";
  src: url("../../../fonts/NotoSansJP-Light.otf");
  font-weight: 300;
  font-style: normal;
}

/* Noto Sans Regular */
@font-face {
  font-family: "Noto Sans JP";
  src: url("../../../fonts/NotoSansJP-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

/* Noto Sans Medium */
@font-face {
  font-family: "Noto Sans JP";
  src: url("../../../fonts/NotoSansJP-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

/* Noto Sans Bold */
@font-face {
  font-family: "Noto Sans JP";
  src: url("../../../fonts/NotoSansJP-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

/* Noto Sans Black */
@font-face {
  font-family: "Noto Sans JP";
  src: url("../../../fonts/NotoSansJP-Black.otf");
  font-weight: 900;
  font-style: normal;
}

/* Roboto Regular */
// 'Roboto', sans-serif;
@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* Roboto Medium */
@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

/* Roboto Bold */
@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}