@import "./variables.scss";
@import "./mixins.scss";

.inner-content {
    margin-left: 20px;
    width: 100%;
    .box-content {
        background-color: $white;
        @include box_shadow_small;
        &.mt-20 {
            margin-top: 20px;
        }
        .page-title {
            height: 50px;
            border-bottom: 1px solid $border_color_EB;
            padding-left: 20px;
            h1 {
                @include font_style(18px, $black_55, 400, 24px);
            }
        }
        .content-block {
            padding: 20px;
            .data-row {
                width: 684px;
                height: 47px;
                @include font_style(14px, $black_75, 400, 20px);
                .label-name {
                    width: 175px;
                }
                .btn-edit {
                    margin-left: auto;
                    @include font_style(13px);
                    padding: 0;
                    @include submit_button(null, null, null, null, 25px, 94px);
                }
            }
        }
    }
}


@media (min-width: 1279px) and (max-width: 1366px) {
    .page-footer {
        position: relative !important;
    }
}

/*==================================================
        Media query for all iPad and tabs
        Screen 768px to 1279px
==================================================*/
@media only screen and (max-width: 1279px) {
    .inner-content {
        .box-content {
            .page-title {
                height: 40px;
                h1 {
                    @include font_style(14px);
                }
            }
            .content-block {
                padding: 13px;
                .data-row {
                    @include font_style(12px);
                }
            }
        }
    }
}

/*==================================================
        Media query for all iPad and tabs
        Screen 641px to 767px
==================================================*/
@media only screen and (max-width: 767px) {
    .inner-content {
        .box-content {
            .page-title {
                height: 40px;
                h1 {
                    @include font_style(14px);
                }
            }
            .content-block {
                padding: 13px;
                .data-row {
                    width: 100%;
                    @include font_style(12px);
                }
            }
        }
    }
}
/*==================================================
        Device = Smart Phone (portrait)
        Screen = B/w screen to 640px
==================================================*/
@media screen and (max-width: 640px) {
    .inner-content {
        .box-content {
            .page-title {
                height: 34px;
                padding-left: 0;
                h1 {
                    @include font_style(13px);
                }
            }
            padding: 13px;
            .content-block {
                padding: 20px 0;
                .data-row {
                    width: 100%;
                    height: auto;
                    flex-direction: column;
                    margin-bottom: 30px;
                    align-items: flex-start !important;
                    @include font_style(14px);
                    .label-name {
                        width: 100%;
                        margin-bottom: 9px;
                    }
                    .data-name {
                        width: 100%;
                        margin-bottom: 9px;
                    }
                    .btn-edit {
                        width: 100%;
                        margin-left: 0;
                        @include font_style(13px);
                        padding: 0;
                        @include submit_button(null, null, null, null, 25px, 94px);
                    }
                }
            }
        }
    }
}