@import "./_variables.scss";
@import "./_mixins.scss";

.reset-password-block {
    width: 413px;
    height: 472px;
    margin-top: 142px;
    margin-bottom: 140px;
    .logo-block {
        height: 73px;
        margin-bottom: 34px;
        img {
            height: 39px;
        }
    }
    .form-block {
        width: 100%;
        .hader-text{
            @include font_style(20px, null, null, 20px);
            padding-bottom: 32px;
        }
        .email {
            display: none;
        }
        .email-status{
            margin-bottom: 0 !important;
        }
        .form-group {
            margin-bottom: 11px;
            .forget-text {
                @include font_style(12px, $black_75, 400, 20px);
                padding-top: 10px;
                p {
                    padding-bottom: 5px;
                }
            }
        }
        background-color: $white;
        box-shadow: 0 0 10px #dee2e6;
        padding: 35px 45px;
        .input-label {
            @include font_style(16px, $black_75, 400, 20px);
            margin-bottom: 6px;
        }
        .btn-submit {
            @include auth_button();
            margin-top: 5px;
        }
    }
    .forget-footer {
        @include font_style(12px, $black_75);
        padding: 35px 45px;
        width: 413px;
        img {
            height: 16px;
            padding-right: 12px;
        }
        span {
            @include font_style(12px, $black_75);
        }
    }
}


/*==================================================
        Media query for all iPad and tabs
        Screen 768px to 1279px
==================================================*/
@media only screen and (max-width: 1279px) {
    .reset-password-block {
        height: 472px;
        margin-top: 120px;
        .logo-block {
            height: 56px;
            img {
                height: 31px;
            }
        }
        .form-block {
            padding: 30px 40px;
            .hader-text {
                padding-bottom: 18px;
            }
            .input-label {
                @include font_style(14px);
            }
            .form-group {
                margin-bottom: 11px;
                .forget-text {
                    @include font_style(9px);
                    padding-top: 0;
                }
            }
            .btn-submit {
                @include auth_button(40px);
                @include font_style(16px);
            }
        }
    }
    .forget-footer {
        @include font_style(12px, $black_75);
        padding: 30px 40px !important;
        width: 413px;
        .email-not-send {
            img {
                height: 16px;
                padding-right: 12px;
            }
            span {
                @include font_style(12px, $black_75);
            }
        }
    }
}


/*==================================================
        Device = Smart Phone (portrait)
        Screen = B/w screen to 767px
==================================================*/
@media screen and (max-width: 767px) {
    .reset-password-block {
        height: auto;
        margin-top: 41px;
        margin-bottom: 50px;
        width: 100%;
        max-width: 292px;
        .logo-block {
            height: 27px;
            margin-bottom: 27px;
            img {
                height: 26px;
            }
        }
        .form-block {
            padding: 25px 22px;
            .hader-text {
                @include font_style(16px);
                padding-bottom: 12px;
            }
            .form-group {
                .forget-text{
                    margin-top: 10px;
                }
            }
            .input-label {
                @include font_style(12px)
            }
            .btn-submit {
                @include auth_button(40px);
                @include font_style(14px);
            }
        }
        .forget-footer {
            @include font_style(12px, $black_75);
            padding: 25px 22px !important;
            width: 100%;
            max-width: 292px;
        }
    }
}

/*==================================================
        Device = Smart Phone (portrait)
        Screen = B/w screen to 600px
==================================================*/
@media only screen and (max-width: 320px) and (orientation: landscape),
  only screen and (max-width: 700px) and (orientation: landscape) {
    .reset-password-block {
        margin-top: 20px;
    }
}